<div class="text">
  <% f.field_container :name do %>
    <%= f.label :name, t(:name) %>
    <%= f.text_field :name %>
  <% end %>
</div>
<div class="text">
  <%= f.label :description, t(:description) %>
  <%= f.text_field :description %>
</div>
