<%= render :partial => "admin/shared/configuration_menu" %>
<ul class="options">
  <li><%= button_link_to t(:new_taxonomy), new_admin_taxonomy_url %></li>
</ul>
<h1><%= t :taxonomies %></h1>
<%= render :partial => "list" %>
