<%= render :partial => "admin/shared/configuration_menu" %>
<h1><%= t :new_taxonomy %></h1>
<% form_for(:taxon, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <div class="button"><%= button t(:create) %></div>
<% end %>
