<table>
  <tr>
    <th><%= t :name %></th>
    <th></th>
  </tr>
  <% @prototypes.each do |prototype| %>
    <tr id="row_<%= prototype.id %>">
      <td><%= prototype.name %></td>
      <td><%= link_to_remote t(:select), {:url => select_admin_prototype_url(prototype), :update => "rjs_target", :complete => "Element.hide('row_#{prototype.id}');"} %></td>
    </tr>
  <% end %>
</table>
<script id="rjs_target"></script>
