<h2><%= t(:order_number, :number => @order.number, :state => @order.state.titleize) %></h2>
<ul class="options">
  <li><%= link_to t(:order_details), admin_order_url(@order), :class => (current == "order details" && "active") %></li>
  <li><%= link_to t(:payments), admin_order_payments_url(@order), :class => (current == "payments" && "active") %></li>
  <% if @order_admin_tabs && @order_admin_tabs.each do |extension| %>
    <li><%= link_to extension[:name].titleize.pluralize, eval(extension[:url] + " @order") , :class => (current == extension[:name].titleize.pluralize ? "active" : "") %></li>
  <% end %>
</ul>
