<h2><%= t :confirm %></h2>
<input id="final_answer" name="final_answer" type="hidden">
<%= render :partial => "shared/order_details", :locals => {:order => @order} %>
<div class="button"><%= submit_tag t(:place_order), {:id => "continue_confirmation"} %></div>
