<h4><%= t :new_image %></h4>
<% form_for(:image, :url => { :controller => "images", :action => "new" }, :html => { :multipart => true }) do |f| %>
  <div class="file"><%= f.label t(:filename) %><%= f.file_field :uploaded_data %></div>
<% end %>
