<div class="text">
  <% f.field_container :name do %>
    <%= f.label :name, t(:name) %>
    <%=f.text_field :name %>
  <% end %>
</div>
<div class="text">
  <% f.field_container :abbr do %>
    <%= f.label :abbr, t(:abbreviation) %>
    <%= f.text_field :abbr %>
  <% end %>
</div>
